/* Base mobile-first */
.about {
  display: flex;
  flex-direction: column; 
  width: 100%;
  height: auto; 
  margin-top: 20px;
  
}

.stat {
  width: 100%; 
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  text-align: center; 
  
}

.stat h2 {
  font-size: 2rem; 
    margin-bottom: 20px; 
}

.stat p {
  font-size: 1.2rem; 
  line-height: 1.6;
}

.stat-pics {
  width: 100%; 
  height: 300px; 
  background: url('../../assets/test.jpg') no-repeat center center;
  background-size: cover; 
  border-radius: 0; 
  
}

/* Media query per tablet e schermi più grandi (min-width: 768px) */
@media (min-width: 768px) {
  .about {
    flex-direction: row; 
    height: 50vh; 
  }

  .stat {
    width: 50%; 
    padding-right: 20px;
  }

  .stat-pics {
    width: 50%; 
    height: 100%; 
    border-radius: 10px;
  }

  .stat h2 {
    font-size: 2.5rem; 
  }

  .stat p {
    font-size: 1.4rem;
  }
}

/* Media query per dispositivi desktop e schermi più grandi (min-width: 1024px) */
@media (min-width: 1024px) {
  .stat h2 {
    font-size: 3rem; 
  }

  .stat p {
    font-size: 1.5rem; 
  }
}